name: Sync to GitLab

on:
  push:
    branches: [ "main" ]

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Push to GitLab
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"

        git remote add gitlab "${{ secrets.GITLAB_URL }}"
        git push gitlab main --force
